/* Common styles */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Fade-in keyframe animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Home section styles */

.home {
    padding: 80px 0;
    background: linear-gradient(to right, #1e3c72, #2a5298, #6b3a91, #9c278c); /* Gradient background */
    text-align: center;
    color: #ffffff; /* White text */
    font-family: 'Poppins', sans-serif; /* Using the Poppins font */
    animation: fadeIn 2s ease-in-out; /* Apply the fade-in effect over 2 seconds */
}

.home h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.home p {
    font-size: 1.4em;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
