.projectCard {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.projectCard h3 {
    font-size: 2em;
    margin-bottom: 15px;
}

.projectButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.aboutBtn, .demoBtn {
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.githubBtn {
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.githubBtn:hover {
    background-color: rgba(0, 0, 0, 0.005);
}

.githubBtn img {
    width: 40px;
    height: auto;
}

.aboutBtn {
    background-color: #007BFF;
    color: white;
}

.demoBtn {
    background-color: #28A745;
    color: white;
}

.aboutBtn:hover, .demoBtn:hover {
    opacity: 0.9;
}

.projectDescription {
    margin: 10px 0;
    color: white; /* updated to white for better readability */
    font-size: 1.2em;
    line-height: 1.5em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-image: linear-gradient(to bottom right, #007BFF, #e5e5e5);
    padding: 30px;
    border-radius: 15px;
    width: 70%;
    max-width: 600px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    position: relative;
}

.closeModal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc3545;
    color: white;
    border: none;
    /* Removed the border-radius to make it square */
    width: 65px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s;
    font-size: 1rem; /* Adjusted font size for better fit */
}

.closeModal:hover {
    background-color: #b22234;
}

.modalContent ul, .modalContent ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 1.5em;
}

.modalContent h4 {
    margin-top: 20px;
}

.modalContent ul li {
    position: relative;
}

.modalContent ul li:before {
    content: "•";
    position: absolute;
    left: -1.5em;
    color: #007BFF;
}

.modalContent a.demoBtn {
    margin-top: 20px;
    display: block;
}

.modalContent a.demoBtn:hover {
    background-color: #238437;
    color: #ffffff;
}
