.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    background: linear-gradient(to right, #1e3c72, #2a5298, #6b3a91, #9c278c);
    color: #f4f4f4;
    text-align: center;
}

.contactContainer h1 {
    font-size: 2.8em;
    margin-bottom: 30px;
}

.contactCard {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 40px 60px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 90%;
}

.contactCard p {
    font-size: 1.15em;
    margin-bottom: 25px;
    color: #EDEDED;  /* A slightly brighter shade to stand out */
}

.inputGroup {
    margin-bottom: 25px;
}

.inputGroup label {
    display: block;
    margin-bottom: 12px;
    font-size: 1.1em;
}

.inputGroup input,
.inputGroup textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.15);
    color: #f4f4f4;
    font-size: 1.05em;
}

.inputGroup textarea {
    min-height: 150px;
}

button {
    background-color: #6b3a91;
    color: #fff;
    padding: 17px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 25px;
    font-size: 1.1em;
}

button:hover {
    background-color: #9c278c;
    transform: scale(1.07);
}
