/* Reset & Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;  /* Add subtle letter spacing for better legibility */
}

body {
    line-height: 1.8;  /* Increased line-height for better readability */
    color: #f4f4f4;
    background: linear-gradient(to right, #1e3c72, #2a5298, #6b3a91, #9c278c);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;  /* Added vertical padding for breathing space */
}

/* Common button styles */
/* Button Base Style */
.btn {
    padding: 15px 25px;
    margin: 0 10px; /* Add space between buttons */
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    display: inline-block;
    color: white;  /* Common white color for text */
}

.btn:hover {
    transform: scale(1.05);
    background-color: white; /* Background color turns to white on hover */
    color: #007BFF; /* Default text color for hover */
}

.aboutBtn, .demoBtn, .btn-linkedin, .btn-github, .btn-resume {
    background-color: #007BFF;
    border: 1px solid #007BFF;
}

/* Specific button distinctions */
.demoBtn, .btn-github {
    background-color: #28A745;
    border: 1px solid #28A745;
}

.btn-resume {
    background-color: #9c278c;
    border: 1px solid #9c278c;
}

/* Hover Styles */
.demoBtn:hover, .btn-github:hover {
    color: #28A745; /* Text color for hover */
}

.btn-resume:hover {
    color: #9c278c; /* Text color for hover */
}


/* Home & About section styles */
.home, .about {
    padding: 100px 0;  /* Increased padding for more vertical space */
    text-align: center;
    color: #ffffff;
}

/* About Card Style */
.aboutCard {
    padding: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);  /* Slight white background to differentiate from the main bg */
    color: #f4f4f4;  /* Text color */
    border: 2px solid #f4f4f4;  /* White border */
    max-width: 80%;  /* Maximum width of the card */
    margin: 0 auto;  /* Center the card horizontally */
}
