/* Reset & Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px; 
}

body {
    line-height: 1.8;
    color: #f4f4f4;
    background: linear-gradient(to right, #1e3c72, #2a5298, #6b3a91, #9c278c);
}

/* ... Your previous styles ... */

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 2%;
    background: linear-gradient(to right, #1e3c72, #2a5298, #6b3a91, #9c278c);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.skills-title {
    font-size: 2.5em;  
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* ... Rest of your styles ... */


.skill-section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 32%;  /* Adjusted width to be slightly less than a third */
    margin: 0 1%; /* Set fixed margin on the left and right */
}

.skill-section h2 {
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* Lighter border-bottom to be visible on gradient */
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.skill-section ul {
    list-style-type: none;
    padding: 0;
}

.skill-logo {
    width: 80px; /* Increased width */
    height: 80px; /* Increased height */
    margin: 15px; /* Adjusted margin */
    transition: transform 0.3s, opacity 0.3s; /* Smooth transition for hover effects */
}

.skill-logo:hover {
    transform: scale(1.1); /* Slightly increase the size of the logo on hover */
    opacity: 0.8; /* Slightly reduce the opacity on hover for a subtle effect */
}
.skills-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

.skill-section li {
    display: flex;
    align-items: center; /* Vertically center the logo and text */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skills-container.fadeIn {
    animation: fadeInUp 2s forwards;
    opacity: 0;
}