/* Common styles for all components */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Container style */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Common button styles */
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
}

/* Projects section styles */
.projectsContainer {
    padding: 60px 30px;
    background: linear-gradient(to right, #1e3c72, #2a5298, #6b3a91, #9c278c); /* Updated gradient */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    color: #f4f4f4; /* Text color for readability */
}

.projectsContainer h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    width: 100%;
    grid-column: span 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Text shadow for readability */
}

/* Individual Project Card styles */
.projectCard {
    background: rgba(255, 255, 255, 0.1); /* Very subtle transparency to give a hint of the background */
    border: 1px solid rgba(255, 255, 255, 0.05); /* Very subtle border for a seamless look */
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}


.projectCard:not(.modal):hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.projectCard h3 {
    font-size: 1.5em;
    color: #f4f4f4; /* Maintains readability on the theme */
    margin-bottom: 15px;
}

.projectButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.aboutBtn, .demoBtn, .githubBtn {
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.githubBtn {
    background-color: transparent;
    padding: 0;
    border: none;
}

.githubBtn img {
    width: 30px;
    height: auto;
}

.aboutBtn {
    background-color: #007BFF;
    color: white;
}

.demoBtn {
    background-color: #28A745;
    color: white;
}

.aboutBtn:hover, .demoBtn:hover {
    opacity: 0.9;
}

.projectDescription {
    margin: 10px 0;
    color: #e0e0e0; /* Light gray for better readability */
    font-size: 1em;
    line-height: 1.5em;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 60, 114, 0.9); /* Darker shade for contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fafafa; /* Lighter background for the modal content */
    padding: 30px;
    border-radius: 15px;
    width: 600px; /* Set a fixed width */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    color: #333; /* Dark text color for better readability */
    font-size: 1.2em;
    line-height: 1.5em;
    position: relative;
}

.modalContent h2, .modalContent h3, .modalContent h4 {
    color: #2a5298; /* Title color for emphasis and readability */
    margin-bottom: 15px;
}

.modalContent p, .modalContent ul, .modalContent ol {
    color: #555; /* Lighter text color for better contrast against light background */
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    width: 65px;
    height: 35px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeModal:hover {
    background-color: #b22234;
}

.modalContent ul, .modalContent ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 1.5em;
}

.modalContent h4 {
    margin-top: 20px;
}

.modalContent ul li {
    position: relative;
}

.modalContent a.demoBtn {
    margin-top: 20px;
    display: block;
}

.modalContent a.demoBtn:hover {
    background-color: #238437;
    color: #ffffff;
}

/* Additional styles can be added as needed */
