/* Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Common button styles */

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
}

/* Projects section styles */

.projectsContainer {
    padding: 50px 0;
    background: linear-gradient(to right, #1e3c72, #2a5298, #6b3a91, #9c278c); /* Gradient background */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    color: #333; /* Regular text color for other text within the container, if any */
}

.projectsContainer h2 {
    font-size: 2em;
    margin-bottom: 20px;
    width: 100%;
    grid-column: span 2;
}
/* Individual Project Card styles */

.projectCard {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border: 1px solid rgba(30, 60, 114, 0.5); /* A softer border color */
    padding: 20px;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(30, 60, 114, 0.2); /* A soft shadow that matches the color scheme */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectCard h3 {
    font-size: 2em;
    margin-bottom: 15px;
}

.projectButtons {
    width: 100%; /* Take the full width of the card */
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;
    gap: 10px;
}

.aboutBtn, .demoBtn {
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
}

.demoBtn {
    background-color: #28A745;
    border: 1px solid #28A745;
}

.aboutBtn:hover, .demoBtn:hover {
    background-color: transparent;
    transform: scale(1.05);
    color: #333;
}
